/*body {
    /* Typography Declarations 
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  
}*/
h1{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
	font-style: bold;

}
body {
	background-image:url('../images/tajMehal.jpg');
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 30px;
}
#question_wrapper {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	font-family: sans-serif;
	color: #EBEAE8;
	font-size: 25px;
	padding-top: 200px;
}
#answer_holder {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
	line-height: 35px;
}
#button_holder {
	margin-left: 50px;
}


#submit {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
}
#retry_button{
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	display :none;
}
#bottom{
	margin-bottom: 250px:;
	font-family: sans-serif;
	color: #EBEAE8;
	font-size: 10px;
	
}
#result-area{
	color:orange;

	text-align: center;
	font-size: 25px;
}
#fact-area{
	font-size: 26px;
	color: #0C2C52;
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
}
